@model EpisodeDetails

<h1>@Model.Title</h1>
<h5>@Model.EpisodeAiredDate | @Model.Length</h5>
<img class="card-img-top" src="@Model.ImageURL" alt="@Model.Title">

<h4>Plot Summary</h4>

<h4>@Model.PlotSummary</h4>

<h4>Storyline</h4>

<h4>@Model.Storyline</h4>

